*{margin: 0; padding: 0;}
@font-face {
    font-family: Heebo;
    src: url("fonts/Heebo/static/Heebo-Regular.ttf");
}
@font-face {
    font-family: Heebo-Medium;
    src: url("fonts/Heebo/static/Heebo-Medium.ttf");
}
.wrapper{
    margin: 0 auto;
    width: min(100%,1152px);
}
.nav-ul{
    display: flex;
    gap: 28px;
    justify-content: end;
    margin-top: 10px;
}
.nav-li{
    list-style-type: none;
}
.nav-li-a{
    text-decoration: none;
    color: #000;
    text-align: right;
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px;
}
.nav-li-a:hover{
    border-bottom: 1px solid rgb(5, 99, 136);
    border-radius: 50%;
    background-color: azure;
    padding: 5px;
}


/* ----------------Main---------------- */

.main-h1{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo-Medium;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 136.364% */
    width: 460px;
}
.main-h1-and-pic{
    display: flex;
    gap: 106px;
    justify-content: space-around;    
    margin-top: 140px;
}
.block-text-main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text-main-john{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 497px;
}
.button-resume{
    color: #FFF;
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 2px;
    background: var(--Primary, #FF6464);
    width: 208px;
    height: 47px;
    margin: 38px 0 0 75px;
}
@media screen and (max-width:360px){
    .wrapper{
        width: 100%;
    }
    .main-h1{
        width: 312px;
        color: var(--Dark-Color, #21243D);
        text-align: center;
        font-family: Heebo;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 125% */
        margin-left: 20px;
    }
    .main-h1-and-pic{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 33px;
        gap: 43px;
    }
    .media-pic-john{
        width: 170.859px;
        height: 170.859px;
        margin-left: 90px;
    }
    .text-main-john{
        width: 328px;
        color: var(--Dark-Color, #21243D);
        margin-left: 30px;
    }
}

/* <!-------------Recent posts----------------> */

.recent-block{
    width: 1152px;
    height: 396px;
    background: #EDF7FA;
    margin-top: 71px;
}
.recent-block-all{
    display: flex;
   align-items: center;
   gap:90px;
}
.text-recent{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 272.727% */
    margin-left: 75px;
}
.text-view-all{
    margin-left: 815px;
    color: var(--Secondry, #00A8CC);
    text-align: right;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.block-text-recent{
    display: flex;
    align-items: center;
    
}
.article-feb1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
    width: 418px;
    height: 295px;
    margin-left: 75px;
}
.text-making{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 374px;
}
.text-feb1{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.block-feb1{
    display: flex;
    gap: 20px;
    margin-top: 17px;
}
.text-feb1-recent{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 368px;
    margin-top: 11px;
}
@media screen and (max-width:360px) {
    .text-recent{
        color: var(--Dark-Color, #21243D);
        font-family: Heebo;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px; /* 333.333% */
        margin-left: 120px;
        width: 150px;
        
    }
    .article-feb1{
        margin: 0;
        width: 360px;
    }
    .recent-block{
        width: 360px;
        height: 647px;
    }
    .recent-block-all{
        display: flex;
        flex-direction: column;
        width: 360px;
        gap: 20px;
    }
    .text-making{
        width: 350px;
        font-size: 22px;
        margin-left: 10px;
    }
    .text-feb1-recent{
        margin-left: 10px;
        width: 340px;
    }
    .block-feb1{
        margin-left: 10px;
    }
    .block-text-recent{
        width: 100%;
    }
    .text-view-all{
        margin: 0;
        display: none;
    }
}
/* ------------------Featured works-------------- */

.text-featured{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 272.727% */
    margin-left: 75px;
}
.featured-all{
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    margin-left: 75px;
}
.featured-article1{
    display: flex;
    gap: 18px;
}
.featured-div{
    display: flex;
    flex-direction: column;   
}
.text-designing{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.text-dashboard2020{
    display: flex;
    align-items: center;
    gap: 26px;
    margin-top: 16px;
}
.text-2020{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Heebo;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 333.333% */
    border-radius: 16px;
    background: #142850;
    width: 62px;
    height: 25px;
}
.text-dashboard{
    color: var(--Light, #8695A4);
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-furur{
    color: var(--Light, #8695A4);
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 594px;
    margin-top: 17px;
}
.topbutton{
    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:8px;
    color:#333;
    font-family: Heebo;
    font-size:14px;
    border-radius: 5px;
    text-decoration: none;
}
.naverh{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
@media screen and (max-width:360px) {
    .text-featured{
        font-size: 18px;
        width: 124px;
        margin-top: 20px;
        margin-left: 110px;
    }
    .featured-all{
        width: 100%;
       margin: 0 auto;      
    }
    .featured-article1{
        display: flex;
        flex-direction: column;
    }
    .featured-article2{
        display: none;
    }
    .line1{
        display: none;
    }
    .text-furur{
        width: 340px;
        margin-left: 10px;
    }
    .rectang30{
        width: 319px;
        height: 210px;
        margin-left: 10px;
    }
    .text-designing{
        width: 350px;
        margin-left: 10px;
    }
    .text-dashboard2020{
        width: 350px;
        margin-left: 10px;
    }
}
/* -----------footer--------------------------------- */

footer{
    width: 1152px;
    height: 182px;
}
.footer-img{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 134px;
}
.copyright{
    color: var(--Dark, #21243D);
    text-align: center;
    font-family: Heebo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 26px;
}
@media screen and (max-width:360px) {
    footer{
        width: 100%;
    }
}


/* ----------------Blog---------------------------------- */
.active{
    color: var(--Primary, #FF6464);
}
.blog-h2{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo-Medium;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 136.364% */
    width: 156px;
    margin-left: 230px;
    margin-top: 106px;
}
.text-ui{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.block-ui-text{
    display: flex;
    align-items: center;
    gap: 33px;
    margin-top: 15px;
}
.text-blog-express{
    color: var(--Light, #8695A4);
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-blog-amet{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 682px;
    margin-top: 16px;
}
.block-textov-blog{
    margin-top: 55px;
}
.vector-blog{
    margin-top: 29px;
}
.main-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* -------------work---------------------------------- */

.work-h2{
    color: var(--Dark-Color, #21243D);
    font-family: Heebo-Medium;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    width: 156px;
    margin-left: 230px;
    margin-top: 106px;
}
.work-block-articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-top: 25px;
}
